// Do not use @import "../import" to avoid having the fonts imported.
// Project variables.
@import "../variables";
// Bootstrap Framework Variables.
@import '../../../../../../../../libraries/bootstrap-sass/assets/stylesheets/bootstrap/variables';

a:hover {
  color: $quaternary-text-color;
}

.page-header, h1 {
  color: $tertiary-text-color;
}

h2 {

  color: $tertiary-text-color;
  * {
    color: $tertiary-text-color;
  }
}

h3 {
  color: $tertiary-text-color;
  * {
    color: $tertiary-text-color;
  }
}

h4 {
  color: $primary-text-color;
  * {
    color: $primary-text-color;
  }
}

p {
  color: $primary-text-color;
}

a {
  color: $tertiary-text-color;
}

.primary-bg {
  background: $primary-bg;
}

.secondary-bg {
  background: $secondary-bg;
}

.tertiary-bg {
  background: $tertiary-bg;
}

.quaternary-bg {
  background: $quaternary-bg;
}

.primary-text-color {
  color: $primary-text-color;
}

.secondary-text-color {
  color: $secondary-text-color;
}

.quaternary-text-color {
  color: $quaternary-text-color;
}

.small-btn {
  color: $secondary-text-color;
}

.large-btn {
  &:after {
    color: $secondary-text-color;
  }
}

.primary-bg.btn {
  color: $secondary-text-color
}

.primary-btn-bg, .btn-primary.primary-btn-bg {
  background: $primary-btn-bg;
  border-color: $primary-btn-bg;
  &:hover, &:focus, &:active {
    background: $secondary-btn-bg;
  }
}

.primary-btn-bg.btn-primary:focus, .primary-btn-bg.btn-primary:active.primary-btn-bg.btn-primary:active:hover, .primary-btn-bg.btn-primary.focus {
  background: $secondary-btn-bg;
  border-color: $tertiary-text-color;
}

.secondary-btn-bg {

  background: $secondary-btn-bg;
  border-color: $secondary-btn-bg;

  &:hover, &:focus, &:active {
    background: $primary-btn-bg;
    color: $secondary-text-color;
    border-color: $secondary-btn-bg;
  }
}

.secondary-btn-bg.btn-primary:focus, .secondary-btn-bg.btn-primary:active, .secondary-btn-bg.btn-primary:active:hover, .secondary-btn-bg.btn-primary.focus {
  background: $primary-btn-bg;
  color: $secondary-text-color;
  border-color: $secondary-btn-bg;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $septenary-bg;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $septenary-bg;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $septenary-bg;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $septenary-bg;
}

.preheader-wrapper {

  background: $quaternary-text-color;

  a, address, p {
    color: $secondary-text-color;
  }
  a:hover {
    text-decoration: underline;
  }
  i {
    color: $secondary-text-color;
  }
}

.block-language {
  .lang-wrapper {
    li {
      a {
        &.is-active {
          border-left-color: $tertiary-bg;
        }
      }
    }
    span {
      color: $tertiary-text-color;
      &:hover {
        color: $quaternary-text-color;
      }
    }
  }
}

.sp {
  background: $tertiary-text-color;
}

.block-link-login-block {
  a {
    color: $tertiary-text-color;
    &:hover {
      color: $quaternary-text-color;
    }
  }
}

.block-link-search-block {

  a {
    color: $tertiary-text-color;

    &:hover {
      color: $quaternary-text-color;
    }

  }
}

.region-right-navigation {
  &:before {
    background: $primary-btn-bg;
  }
}

.links {
  li a {
    color: $tertiary-text-color;
    &:hover {
      color: $quaternary-text-color;
    }
  }
}

.region-header {
  background-color: $primary-bg;
}

.search-header {
  background-color: $primary-bg;
  color: $secondary-text-color;
}

.breadcrumb-wrapper {
  a {
    color: $secondary-text-color;
  }
  li, .breadcrumb > .active {
    color: $secondary-text-color;
  }
  .breadcrumb {
    background: transparent;
  }
  .breadcrumb > li + li:before {
    color: $secondary-text-color;
  }
}

.header-share {
  i {
    color: $secondary-text-color;
    &:hover {
      color: $quaternary-text-color;
    }
  }
}

.after-header-text {
  p {
    color: $tertiary-text-color;
  }
}

.paragraph.primary-bg {
  p, div, h2 {
    color: $secondary-text-color;
  }
  a {
    background: $tertiary-bg;
  }
}

.paragraph.secondary-bg {
  p, div, h2 {
    color: $secondary-text-color;
  }
  a {
    background: $tertiary-bg;
    color: $quaternary-text-color;
    &:after {
      color: $quaternary-text-color;
    }
    &:hover {
      color: $tertiary-text-color;
    }
    &:hover:after {
      color: $tertiary-text-color;
    }
  }
}

.paragraph.tertiary-bg {
  p, div, h2 {
    color: $tertiary-text-color;
  }
  a {
    color: $secondary-text-color;
    background: $primary-bg;
    border-color: $primary-bg;
    &:after {
      color: $secondary-text-color;
    }
    &:hover {
      background: $quaternary-bg;
      color: $tertiary-text-color;
    }
    &:hover:after {
      color: $tertiary-text-color;
    }
  }
}

.paragraph {
  .custom-inline-html {
    span {
      color: $secondary-text-color;
    }
  }

  ul {
    li {
      color: $primary-text-color;
    }
  }

  .large-btn {
    color: $tertiary-text-color;
    &:after {
      color: $tertiary-text-color;
    }
    &:hover {
      color: $quaternary-text-color;
    }
    &:hover:after {
      color: $quaternary-text-color;
    }
  }
}

.paragraph--type--cards.tertiary-bg {
  h2 {
    color: $quaternary-text-color;
  }
  p {
    color: $primary-text-color;
  }
}

.doc-attachments {
  span {
    color: $secondary-text-color;
  }
  background: $primary-bg;
}

.attachments-wrapper {
  background-color: $tertiary-bg;
}

.file > span {
  color: $tertiary-text-color;
  background: transparent;
  .icon:before {
    color: $quinary-bg;
  }
}

span.file-size {
  color: $primary-text-color;
}

.media-type-kpi {
  .field--name-field-media {
    background: $secondary-bg;
  }
}

.field--name-field-kpi, .node-background .field--name-field-kpi {
  p {
    color: $secondary-text-color;
  }
}

.newsletters-bg {
  background: $secondary-bg;
}

.form-container {
  h2, p, .button-label {
    color: $newsletter-text-color
  }
}

.user-login-form {
  background: $tertiary-bg;
}

label {
  color: $tertiary-text-color;
  &:after {
    color: $tertiary-text-color;
  }
}

.form-control {
  border-color: $senary-bg;
}

.secondary-btn-bg.btn-primary:hover {
  border-color: $secondary-btn-bg;
}

.footer-bg {
  background: $primary-bg;
}

.footer {

  .follow-us-wrapper {
    @media screen and (max-width: $screen-md) {
      border-bottom-color: $octonary-bg;
    }
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
  }

  .nav > li > a:hover i, .nav > li > a:focus i {
    color: $quaternary-text-color;
  }

  li a, h2, p, span, i {
    color: $secondary-text-color;
  }
  .block-block-contentblock-footer-legal-notice {
    li:not(:last-child) {
      border-right-color:$quaternary-bg;
    }
  }
}
.search-result {
  h1 {
    span {
      color: $tertiary-text-color;
    }
    &:hover {
      span {
        color: $quaternary-text-color;
      }
    }
  }
}

.search-title {
  a {
    color: $tertiary-text-color;
  }
  &:hover a {
    color: $quaternary-text-color;
  }
}

.search-content {
  a {
    color: $quaternary-text-color;
  }
}

.node-tag {

  color: $secondary-text-color;

  &:hover, &:focus {
    color: $secondary-text-color;
  }
}

.pagination {

  li > a, li > span {
    color: $tertiary-text-color;
  }
  & li > a:hover, & li > a:focus, & li > span:hover {
    background: transparent;
    color: $tertiary-text-color;
    border-bottom-color: $tertiary-text-color;
  }
  & > li:first-child > a, & > li:first-child > span {
    background: transparent;
    color: $tertiary-text-color;
  }

  & > .active > a:hover, & > .active > a:focus {
    background: transparent;
    color: $tertiary-text-color;

  }
  & > .active > a {
    background: transparent;
    color: $tertiary-text-color;

  }
  .pager__item--previous {
    a {
      background-color: $tertiary-bg;

      &:hover, &:active, &:focus {
        background-color: $primary-bg;
        color: $secondary-text-color;
      }
    }
  }

  .pager__item--next {
    a {
      background-color: $tertiary-bg;

      &:hover, &:active, &:focus {
        background-color: $primary-bg;
        color: $secondary-text-color;
      }
    }
  }
}

.header-label {
  .news-link {
    span {
      font-family: raleway-bold;
      color: $secondary-text-color;
    }
    &:hover {
      span {
        color: $secondary-text-color;
      }
    }
  }
}

.header-text {
  p {
    color: $secondary-text-color;
  }
}

.time-wrapper {
  label, div {
    color: $primary-text-color;
  }
  div {
    color: $quaternary-text-color;
  }
}

.news-link {
  span {
    color: $tertiary-text-color;
  }
  &:hover {
    span {
      color: $quaternary-text-color;
    }
  }
}

.news-date {
  label {
    color: $primary-text-color;
  }
}

.all-news {
  a {
    color: $tertiary-text-color;
    &:hover {
      color: $quaternary-text-color;
    }
  }
}

.view-content {
  h3 {
    &:hover span {
      color: $quaternary-text-color;
    }
  }
}

.courrier {
  h2 {
    color: $quaternary-text-color;
  }
}

.address-holder {
  hr {
    background: $senary-bg;
  }

  span {
    color: $secondary-text-color;
  }
  address, p {
    color: $secondary-text-color;
  }
}

.contact-number {
  * {
    color: $secondary-text-color;
  }
}

.select-wrapper:after {
  color: $tertiary-text-color;
}

.left-contact-section {
  * {
    color: $secondary-text-color;
  }

}

.right-contact-section {
  .required-label {
    label {
      color: $quaternary-text-color;
    }
  }
}

.carousel-caption {
  .btn.primary-bg:hover {
    background: $quaternary-bg;
    color: $tertiary-text-color;
    &:after {
      color: $tertiary-text-color;
    }
  }

  .btn.secondary-bg:hover {
    background: $quaternary-bg;
    color: $quaternary-text-color;
    &:after {
      color: $quaternary-text-color;
    }
  }
  span {
    color: $secondary-text-color;
  }
  h2 {
    color: $secondary-text-color;
  }
  .primary-bg, .secondary-bg {
    color: $secondary-text-color;
    &:after {
      color: $secondary-text-color;
    }
  }
}

.carousel-indicators {
  li {
    background-color: $quaternary-bg;
    &.active {
      background-color: $primary-bg;
      border-color: $tertiary-text-color;
    }
  }
}

.region-navigation-collapsible {
  @media screen and (max-width: $screen-sm - 1) {
    .block-smile-base-search, .block-smile-base-user, .block-custom-language-switcher-block {
      * {
        color: $secondary-text-color;
      }
    }
  }
}

.menu-lang {
  & > li {
    color: $secondary-text-color;
    border-bottom-color: $quaternary-bg;
    span {
      &:after {
        color: $secondary-text-color;
      }
    }
  }

  ul {
    li {
      a {
        color: $secondary-text-color;
      }
    }
  }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: $secondary-text-color;
  background-color: inherit;
}

.navbar-default {

  .navbar-toggle {
    &:hover, &:focus {
      background: transparent;
    }
    .icon-bar {
      background: $primary-bg;
    }
  }
  background: $quaternary-bg;
  .expanded {
    a:after {
      color: $tertiary-text-color;
      @media screen and (max-width: $screen-sm - 1) {
        color: $secondary-text-color;
      }
    }
  }

  .menu-container {
    background: $primary-bg;
    * {
      color: $secondary-text-color;
    }
    .dropdown-menu {
      background: transparent;
      & > li > a:hover, & > li > a:focus {
        color: $secondary-text-color;
      }
    }
  }
  .navbar-collapse {
    @media screen and (max-width: $screen-sm - 1) {
      background: $primary-bg;
    }
  }
  .navbar-nav {
    & > li {
      @media screen and (max-width: $screen-sm - 1) {
        &:not(:last-child) {
          border-bottom-color: $secondary-text-color;
        }
      }
      &.active{
        a,a:hover{
          background: $primary-bg;
          color: $secondary-text-color;
          &:after {
            color: $secondary-text-color;
          }
        }
      }
      &.active > a {
        &:hover, &:focus, &.active {
          background: $primary-bg;
          color: $secondary-text-color;
        }
        &:hover, &:focus {
          &:after {
            color: $secondary-text-color;
          }
        }
      }
      & > a {
        color: $tertiary-text-color;
        @media screen and (max-width: $screen-sm - 1) {
          color: $secondary-text-color;
        }
        &:hover, &:focus, &.active {
          background: $primary-bg;
          color: $secondary-text-color;
        }
        &:hover, &:focus {
          &:after {
            color: $secondary-text-color;
          }
        }
      }
    }
    & .open a,
    & .open a:hover,
    & .open a:focus,
    & .open .dropdown-menu > li > a {
      background: $primary-bg;
      color: $secondary-text-color;
    }
  }
}

.menu_highlight {
  .field--name-body {
    background: $secondary-bg;
  }
}

.hamburger .line {
  background-color: $primary-bg;
}

.page-node-type-news, .page-node-type-content-page {
  h1 {
    span {
      color: $tertiary-text-color;

    }
  }
}

.region-navigation-collapsible {

  @media screen and (max-width: $screen-sm - 1) {
    .block-smile-base-search, .block-smile-base-user, .block-custom-language-switcher-block {
      * {
        color: $secondary-text-color;
      }
    }
  }
}

.menu-lang {

  & > li {
    color: $secondary-text-color;
    border-bottom-color:$quaternary-bg;
    span {
      &:after {
        color: $secondary-text-color;
      }
    }
  }

  ul {
    li {
      a {
        color: $secondary-text-color;
      }
    }
  }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: $secondary-text-color;
  background-color: inherit;
}

.navbar-default {
  .navbar-toggle {
    &:hover, &:focus {
      background: transparent;
    }
    .icon-bar {
      background: $primary-bg;
    }
  }

  background: $quaternary-bg;

  .expanded {
    a:after {
      color: $tertiary-text-color;
      @media screen and (max-width: $screen-sm - 1) {
        color: $secondary-text-color;
      }
    }
  }
  .menu-container {

    background: $primary-bg;
    * {
      color: $secondary-text-color;
    }
    .dropdown-menu {
      background: transparent;
      & > li > a:hover, & > li > a:focus {
        color: $secondary-text-color;
      }
    }
  }
  .navbar-collapse {
    @media screen and (max-width: $screen-sm - 1) {
      background: $primary-bg;
    }
  }
  .navbar-nav {
    & > li {
      @media screen and (max-width: $screen-sm - 1) {
        &:not(:last-child) {
          border-bottom-color: $secondary-text-color;
        }
      }
      position: static;
      &.active{
        a,a:hover{
          background: $primary-bg;
          color: $secondary-text-color;
          &:after {
            color: $secondary-text-color;
          }
        }
      }
      &.active > a {
        &:hover, &:focus, &.active {
          background: $primary-bg;
          color: $secondary-text-color;
        }
        &:hover, &:focus {
          &:after {
            color: $secondary-text-color;
          }
        }
      }
      & > a {
        color: $tertiary-text-color;
        @media screen and (max-width: $screen-sm - 1) {
          color: $secondary-text-color;
        }
        &:hover, &:focus, &.active {
          background: $primary-bg;
          color: $secondary-text-color;
        }
        &:hover, &:focus {
          &:after {
            color: $secondary-text-color;
          }
        }
      }
    }
    & .open a,
    & .open a:hover,
    & .open a:focus,
    & .open .dropdown-menu > li > a {
      background: $primary-bg;
      color: $secondary-text-color;
    }
  }
}

.menu_highlight {
  .field--name-body {
    background: $secondary-bg;
  }
}

.hamburger .line {
  background-color: $primary-bg;
}

.page-node-type-news, .page-node-type-content-page {
  h1 {
    span {
      color: $tertiary-text-color;
    }
  }
}

.node-background {

  & > article {
    background: $quaternary-bg;
  }
  p, li {
    color: $primary-text-color;
    &.tertiary-text-color {
      color: $tertiary-text-color;
    }
  }

  a {
    color: $quaternary-text-color;
    &:hover {
      color: $tertiary-text-color;
    }
  }
  .slide {
    .carousel-control {
      background: transparent;
    }
    .glyphicon {
      background: $primary-bg;
      &:before {
        color: $secondary-text-color;
      }
    }
  }
  .quote-bg {
    &.paragraph {
      .content-wrapper {
        & > div {
          &:last-child {
            background-color:$tertiary-bg;
          }
        }
      }
    }
  }
  .file-link {
    a {
      color: $tertiary-text-color;
      &:hover {
        color: $quaternary-text-color;
      }
    }
  }
}

.links-group {
  background: $tertiary-bg;
  a {
    color: $tertiary-text-color;
    &:hover {
      color: $quaternary-text-color;
    }
  }
}

