{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'row',
] %}

  {% set media_position = media_position ?: 'right' %}
  {% set media_width_class = media_width_class ?: 'col-md-6' %}
  {% set text_width_class = text_width_class ?: 'col-md-6' %}
  {% block paragraph %}
    <section{{ attributes.addClass(classes) }}>
      {% if content.field_title|render|striptags|trim is not empty %}
        <div class="content-wrapper">
          <h2> {{ content.field_title }} </h2>
        </div>
      {% endif %}
      <div class="content-wrapper {{ flexbox }}">
        {% block content %}
          {% if (content.field_media and media_position == 'left') %}
            <div class="{{ media_width_class }}">
              {{ content.field_media }}
            </div>
          {% endif %}
          {% if (content.field_title or content.field_text) %}
            <div class="no-pd-rl {{ text_width_class }}">
              {{ content.field_text }}
            </div>
          {% endif %}
          {% if (content.field_media and media_position == 'right') %}
            <div
              class="{{ media_width_class ~ ' ' ~ media_type_class ~ ' ' ~ flexbox }}">
              {{ content.field_media }}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </section>
  {% endblock paragraph %}
