{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
  {% if breadcrumb %}
    <div class="breadcrumb-wrapper col-sm-10 col-xs-12 clearfix">
      <div class="content-wrapper">
        <div class=" breadcrum-container">
          <ol class="breadcrumb">
            {% for item in breadcrumb %}
              <li {{ item.attributes }}>
                {% if item.url %}
                  <a href="{{ item.url }}">{{ item.text }}</a>
                {% else %}
                  {{ item.text }}
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  {% endif %}
