{#
/**
 * @file
 * Default theme implementation to display Share block.
 */
#}
<a href="http://www.addthis.com/bookmark.php" class="addthis_button">
  <i class="fa fa-share-alt" aria-hidden="true"></i>{{ 'Share'|t }}
</a>
