{#
/**
 * @file
 * Default theme implementation to display Custom Language Switcher block.
 */
#}
<ul>
  <li>{{ title }}
    <ul>
      {% for link in links %}
        <li
          hreflang="{{ link.id }}"
          data-drupal-link-system-path="{{ attribute(link, 'system-path') }}"
          data-drupal-link-query="{{ attribute(link, 'link-query') }}"
          class="{{ link.class }}">
          <a href="{{ url('<current>', [], {'language': link.language}) }}"
             class="language-link"
             hreflang="{{ link.id }}"
             data-drupal-link-system-path="{{ attribute(link, 'system-path') }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>
