{#
/**
 * @file
 * Default theme implementation to display newsletter subscription block.
 *
 * Available variables:
 * - account_hash: The account hash provided by Mailchimp.
 * - mailing_list_domain: The domain of the mailing list provided by Mailchimp.
 * - mailing_list_hash: The mailing list hash provided by Mailchimp.
 * - anti_spam_token: The anti-spam token provided by Mailchimp.
 * - description: The Description block newsletter.
 * - placeholder: The placeholder textfield.
 * - button_label: The button_label button label.
 *
 * @ingroup themeable
 */
#}
<div class="discr col-md-6 col-sm-12 col-xs-12 no-pd-rl">
  <h2>{{ head_line }}</h2>
  {{ description }}
</div>
<div class="form-wrapper col-md-6 col-sm-12 col-xs-12 no-pd-rl">
  <form role="form"
        action="//{{ mailing_list_domain }}/subscribe/post?u={{ account_hash }}&amp;id={{ mailing_list_hash }}"
        method="post" id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="newsletter-subscription validate"
        target="_blank">
    <div class="form-group">
      <input type="email" placeholder="{{ placeholder }}" name="EMAIL"
             class="form-control" id="mce-EMAIL" required>
      <span class="sub-wrapper">
        <button type="submit" value="{{ button_label }}"
                id="mc-embedded-subscribe"
                class="large-btn primary-btn-bg icon-only"
                name="">
          <span class="button-label">{{ button_label }}</span>
          </button>
      </span>
    </div>
    <div class="hidden">
      <input name="{{ anti_spam_token }}" tabindex="-1" value="" type="text">
    </div>
  </form>
</div>
