{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{% set classes = [
'region',
'region-' ~ region|clean_class,

] %}
<div class="follow-us-wrapper col-md-8 col-sm-12">
  {% if content %}
    <div{{ attributes.addClass(classes) }}>
      <div class="inline-wrapper">
        {{ title_prefix }}
        {% if label %}
          <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
      </div>
      <div class="inline-wrapper">
        {{ content }}
      </div>
    </div>
  {% endif %}
</div>
