{#
/**
 * @file
 * Default theme implementation to display newsletter subscription block.
 *
 * Available variables:
 * - account_hash: The account hash provided by Mailchimp.
 * - mailing_list_domain: The domain of the mailing list provided by Mailchimp.
 * - mailing_list_hash: The mailing list hash provided by Mailchimp.
 * - anti_spam_token: The anti-spam token provided by Mailchimp.
 * - description: The Description block newsletter.
 * - placeholder: The placeholder textfield.
 * - button_label: The button_label button label.
 *
 * @ingroup themeable
 */
#}
<p>{{ 'Account hash:'|t }} {{ account_hash }}</p>
<p>{{ 'Mailing list domain:'|t }} {{ mailing_list_domain }}</p>
<p>{{ 'Mailing list hash:'|t }} {{ mailing_list_hash }}</p>
<p>{{ 'Anti-spam token:'|t }} {{ anti_spam_token }}</p>
<p>{{ 'Head line:'|t }} {{ head_line }}</p>
<p>{{ 'Description:'|t }} {{ description }}</p>
<p>{{ 'Placeholder:'|t }} {{ placeholder }}</p>
<p>{{ 'Button label:'|t }} {{ button_label }}</p>
