
/************* Article riche *************/
.node-background {

  margin-bottom: 115px;
  .field--name-field-caption {
    p {
      font-size: 11px;
      text-align: left;
    }
  }
  & > article {

    margin: -20% auto 0 auto;
    float: none;
  }
  .paragraph--type--html:first-of-type {
    p:first-child {
      font-family: $main-font-medium;
    }
  }
  p, li {
    font-size: 16px;
    line-height: 1.5em;
    font-family: $main-font-light;
  }

  li {
    margin-left: 10px;
    padding-left: 10px;
  }
  h2 + .content-wrapper, h3 + .content-wrapper, h4 + .content-wrapper {
    margin-top: 20px;
  }
  .field--item:nth-child(2) {
    h2 {
      margin-bottom: 10px;
    }
  }
  h2 {
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 10px;
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  a {
    text-decoration: underline;
    @extend .ease-in;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .paragraph {
    .col-md-8 {
      .field--type-text-long {
        p {
          margin-bottom: 20px;
        }
      }
    }
    padding: 8px 0;
    margin: 8px 0;
    overflow: hidden;
    .content-wrapper {
      padding: 0;
      & > div:first-child {
        padding: 0;
        .field--name-field-media {
          padding-right: 20px;
          @media screen and (max-width: $screen-md - 1) {
            padding: 0;
          }
        }
      }
      & > div:last-child {
        padding: 0;
        .field--name-field-media {
          padding-left: 20px;
          @media screen and (max-width: $screen-md - 1) {
            padding: 0;
          }
        }
      }
      .col-md-12 {
        padding: 0;
        .field--name-field-media {
          padding-right:0;
        }
        .field--name-field-caption {
          p {
            text-align: center;
          }
        }
      }
      .col-md-0 {
        .field--name-field-text {
          margin-top: 20px;
          display: inline-block;
        }
      }
    }
  }
  .address-holder {
    position: static;
    top: inherit;
    padding: 50px 50px 50px 180px;
    transform: none;
    background: url("../../assets/images/Shape.png") 60px center no-repeat;
    @media screen and (max-width: $screen-sm - 1) {
      padding: 20px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 18px;
    }
  }
  .paragraph-wrapper {
    //margin-top: 20px;
  }
  .courrier {
    margin: 0 0 20px 0;
    & > div {
      font-size: 0;
    }
    iframe {
      width: 100%;
    }
  }
  .slide {
    .carousel-control {
    }
    .glyphicon {
      opacity: 1;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      &:before {
        margin-top: 8px;
        display: inline-block;
      }
    }
  }
  .quote-bg {
    padding: 0;
    &.paragraph {
      .content-wrapper {
        .field--name-field-media.field--type-entity-reference {
          padding: 0;
        }
        img {
          width: 100%;
          min-width: 250px;
          min-height: 350px;
          @media screen and (max-width: $screen-md - 1) {
            width: inherit;
            min-width: inherit;
            max-width: inherit;
          }
        }
        & > div {
          padding: 0;
          &:last-child {
            background: url("../../assets/images/quote-white.png") 7% 30px no-repeat;
            & > div {
              padding: 50px 80px;
              @media screen and (max-width: $screen-sm - 1) {
                padding: 20px 50px;
              }
            }
          }
        }
      }
    }
  }
  address {
    margin-bottom: 0;
  }
  .file-link {
    a {
      text-decoration: none;
      &:hover {
      }
    }
  }
}

.links-group {
  overflow: hidden;
  margin: 40px 0;
  padding: 10px 0;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}

.planet-grey {
  display: block;
  background: url("../../assets/images/planet-grey.svg") center center no-repeat;
  min-width: 70px;
  min-height: 70px;
  width: 100%;
  height: 100%;
  @media screen and (max-width: $screen-md) {
    margin: 20px 0;
  }
}

.full-news {
  .content-wrapper {
    padding: 0;
  }
  .row {
    margin: 0;
  }
  .col-md-0 {

    .field--name-field-text {
      margin: 20px 0;
      display: inline-block;
    }
  }
  h2 {
    margin-bottom: 20px;
  }
}