/*********** Carousel ***************/
.paragraph--type--slideshow {
  padding: 0;
  margin: 0;
}

.carousel-caption {
  a {
    font-size: 16px;
  }

  left: 0;
  bottom: 25%;
  right: inherit;
  max-width: 750px;
  width: 100%;
  text-align: left;
  padding: 0 0 0 96px;
  text-shadow: none;
  @media screen and (max-width: $screen-sm) {
    padding-left: 50px;
  }
  @media screen and (max-width: $screen-xs) {
    padding: 0 20px;
    bottom: 10%;
  }
  span {
    font-family: $main-font-bold;
    font-size: 16px;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  h2 {
    font-family: $main-font-medium;
    font-size: 36px;
    line-height: 1.2em;
    margin: 0;
    @media screen and (max-width: $screen-sm) {
      font-size: 28px;
    }
    @media screen and (max-width: $screen-xs) {
      font-size: 18px;
    }
  }
  p:last-child {
    @media screen and (max-width: $screen-xs) {
      text-align: center;
    }
  }
}

.carousel-indicators {
  li {
    @media screen and (max-width: $screen-xs) {
      display: none;
    }
  }
}

.carousel.slide {
  padding: 0;
  .field--type-image {
    margin: 0;
  }
  .btn-wrapper {
    @media screen and (max-width: $screen-xs) {
      text-align: center;
      width: 100%;
    }
  }
  img {
    min-height: 350px;
    object-fit: cover;
    @media screen and (max-width: $screen-xs) {
      min-height: 250px;
    }
  }
}
