
/*********** Contact page *************/
.contact-page {
  .contact-top-message {
    margin-bottom: 60px;
  }
  .after-header-text {
    padding-left: 0;
    @media screen and (max-width: $screen-md) {
      padding: 0;
    }
  }
  .contact-bottom-msg {
    display: inline-block;
  }
  .captcha-holder {
    overflow: hidden;
    div {
      @media screen and (max-width: 1420px) {
        width: 100%
      }
    }
    .form-actions {
      text-align: left;
      .btn {
        float: none;
      }
    }
  }
  .after-header-text + div {
    padding-right: 0;
    padding-right: 0;
    @media screen and (max-width: $screen-md) {
      padding: 0;
      margin-bottom: 30px;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    min-height: 310px;
  }
}

.g-recaptcha {
  margin-top: 30px;
}

.courrier {
  h2 {
    margin-bottom: 20px;
  }
  margin: 100px 0;
}

.address-holder {
  hr {
    height: 1px;
    width: 100%;
    border: none;
    float: left;
  }
  @media screen and (max-width: $screen-md) {
    position: static;
    top: inherit;
    transform: none;
    padding: 40px 30px;
    overflow: hidden;
  }
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 30px;
  span {
    font-size: 20px;
    font-family: $main-font-light;
  }
  address, p {
    font-family: $main-font-semibold;
    font-size: 20px;
  }
}

.contact-number {
  text-align: center;
  padding: 14px;
  border-radius: 10px;
  p {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.form-group {
  margin-bottom: 0;
}

.form-inline .control-label {
  display: block;
  margin-bottom: 5px;
}

.select-wrapper {
  width: 100%;
  max-width: 400px;
  display: block;
}

textarea.form-control {
  height: auto;
  width: 100%;
  max-width: initial;
  min-height: 200px;
  resize: none;
}

.form-inline .form-control {
  display: block;
  max-width: 400px;
  width: 100%;
}

.left-contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  label {
    font-size: 22px;
    margin-bottom: 36px;
    line-height: 1.2em;
  }
  p {
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.right-contact-section {
  p {
    font-size: 14px;
  }
  .required-label {
    label {
      width: 100%;
      margin-bottom: 30px;
      margin-top: 45px;
    }
  }
  padding-top: 50px;
  padding-bottom: 50px;
  .form-actions .btn {
    margin-bottom: 0;
    margin-top: 40px;
    margin-right: 0;
    float: right;
    @media screen and (max-width: $screen-md) {
      float: left;
    }
  }
}
