@import "../import";

/******** Footer **********/

.footer {
  .logo{
    padding:0;
  }
  .block-contact-us-block {
    padding: 0;
  }
  margin-top: 0;
  padding: 0;
  border: none;

  .follow-us-wrapper {
    padding: 25px 0;
    @media screen and (max-width: $screen-md) {
      text-align: center;
      border-bottom: 1px solid;
    }
  }

  .contact-us-wrapper {
    text-align: center;
  }
  .contact-us-btn {
    margin-top: 25px;
    float: right;
    @media screen and (max-width: $screen-md) {
      float: none;
      display: inline-block;
      margin-bottom: 30px;
    }

  }
  .nav > li {
    display: inline-block;
  }
  ul {
    padding: 0;
  }
  nav {
    padding: 0 0;
  }
  h2.block-title {
    display: inline-block;
    font-family: $main-font-bold;
    font-size: 18px;
    line-height: 21px;
    margin-right: 42px;
    @media screen and (max-width: $screen-sm) {
      margin-right: 0;
    }
  }
  .menu-level-0 {
    margin-bottom: 12px;
    span {
      font-family: $main-font-bold;
      font-size: 18px;
      line-height: 1.2em;
    }
  }
  .menu-level-1 {
    margin-bottom: 10px;
    a {
      font-family: $main-font-medium;
      font-size: 16px;
      line-height: 21px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #block-smile-base-theme-follow-us {
    display: inline-block;
    ul.menu li {
      i {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  li a, h2, p, span, i {
    @extend .ease-in
  }
  #block-smile-base-theme-footer-menu {
    .menu {
      @media screen and (max-width: $screen-md) {
        width: 49%;
        float: none;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .logo-wrapper {
    overflow: hidden;
    @media screen and (max-width: $screen-md) {
      text-align: center;
      margin: 10px 0;
    }
  }
  .block-block-contentblock-footer-legal-notice {
    .legal-notice {
      text-align: right;
      padding: 10px 0;
      @media screen and (max-width: $screen-md) {
        text-align: center;
        margin: 10px 0;
      }
    }
    float: right;
    p, .legal-notice ul, .legal-notice li {
      display: inline-block;
    }
    p, a {
      font-size: 14px;
      padding:10px;
      margin: 0;
    }
    li:not(:last-child) {
      border-right: 1px solid;
      @media screen and (max-width: $screen-xs) {
        border: none;
      }
    }
    a {
      @media screen and (max-width: $screen-xs) {
        padding: 10px 10px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.region-footer-bottom {
  margin-top: 70px;
  display: inline-block;
  width: 100%;
}
