
/********** form *************/
label {
  font-size: 18px;
  font-family: $main-font-medium;
  line-height: 21px;
  font-weight: inherit;
  margin-top: 30px;
  max-width: inherit;
  width: 100%;
  &:after {
    display: none;
    font-size: 18px;
  }
}

.form-control {
  height: 40px;
  max-width: 400px;
  width: 100%;
  border: 1px solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form-submit {
  margin: 20px 0;
  font-family: $main-font-semibold;
  font-size: 18px;
  span {
    display: none;
  }
  &:after {
    font-size: 22px;
    content: "\f178";
    font-family: FontAwesome;
    margin-left: 10px;
    display: inline-block;
  }
  &:hover:after {
    animation: movingArrow3 1.5s infinite;
  }
}

.form-required:after {
  background-repeat: no-repeat;
  height: 12px;
  margin-left: 4px;
}
