@import "../import";

/*********** Header **************/
.preheader-wrapper {

  .info-wrapper {
    float: left;
  }
  padding: 6px 0;
  a, address, p {
    font-size: 14px;
    margin-bottom: 0;
  }
  a:hover {
    text-decoration: underline;
  }
  p.full-width {
    font-size: 10px;
  }
  i {
    font-size: 20px;
    margin: 2px 4px 0 0;
    float: left;
  }
}

.contact-information {

  @media screen and (max-width: $screen-sm - 1) {
    text-align: center;
  }
  float: right;
  div {
    padding-top: 4px;
    @media screen and (max-width: $screen-lg) {
      margin-bottom: 8px;
    }
    @media screen and (max-width: $screen-sm - 1) {
      margin: 0;
    }
  }
  .info-class {
    @media screen and (max-width: $screen-sm - 1) {
      display: none;
    }
  }
  .address-class {
    @media screen and (max-width: $screen-sm - 1) {
      display: none;
    }
  }
  .time-class {
    @media screen and (max-width: $screen-sm - 1) {
      display: none;
    }
  }
  .call-services {
    @media screen and (max-width: $screen-sm - 1) {
      text-align: center;
      i, div {
        float: none;
        display: inline-block;
        vertical-align: top;
      }
      p {
        text-align: left;
      }
    }
  }
}

.block-language {
  float: left;
  .lang-wrapper {
    cursor: pointer;
    max-width: 80px;
    li {
      a {
        padding-left: 7.5px;
        &.is-active {
          border-left: 1px solid ;
        }
      }
    }
    span {
      margin-top: 6px;
      float: left;
      font-size: 24px;
    }
  }
}

.sp {
  width: 2px;
  height: 25px;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
}

.caret {
  margin-top: -8px;
}

.block-link-login-block {

  float: left;
  padding-top: 10px;
  a {
    font-family: $main-font-medium;
    font-size: 15px;
    line-height: 18px;
    &:hover {
      text-decoration: none;
    }
    i {
      font-size: 20px;
    }
  }
}

.block-link-search-block {
  float: left;

  a {
    font-size: 0;
    i {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}

.navbar {
  .logo {
    padding: 9px 10px;
    width: 100%;
  }
}

.logo {
  padding: 10px 10px;
  margin: 0;
  img {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 100px;
  }
}

.region-right-navigation {
  display: inline-block;
  &:before {
    width: 2px;
    height: 25px;
    float: left;
    margin-right: 8px;
    margin-top: 10px;
    content: '';
  }
}

.right-navigation {
  padding: 11px 14px 11px 0;
  float: right;
  text-align: right;
  @media screen and (max-width: $screen-sm - 1) {
    display: none;
  }
  section {
    margin-right: 30px;
    @media (max-width: 1000px) and (min-width: 767px) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.links {
  float: left;
  height: 30px;
  width: 30px;
  position: relative;
  padding-top: 10px;
  padding-left: 0;
  margin-top: 4px;
  overflow: hidden;

  li {
    float: left;
  }
  &.active {
    overflow: visible;
  }
  li a {
    font-family: $main-font-medium;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0 4px 0 0;

  }
}

.block-smile-base-search {
  float: left;
}

.region-header {
  overflow: hidden;
  padding: 21px 0;
}

.search-header {
  width: 100%;
  margin-bottom: 75px;
  overflow: hidden;
  padding: 21px 0;
  font-size: 24px;
  font-family: $main-font-bold;
  text-align: center;
}

.breadcrumb-wrapper {
  .breadcrum-container, .header-share {
    padding: 0;
  }
  a {
    font-family: $main-font-bold;
    line-height: 30px;
  }
  li, .breadcrumb > .active {
    font-family: $main-font-regular;
  }
  a:hover {
    text-decoration: underline;
  }
  .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    @media screen and (max-width: $screen-sm) {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .breadcrumb > li + li:before {
    padding: 0.2px;
    content: '>';
    font-family: $main-font-bold;
  }
}

.header-share {
  float: right;
  text-align: right;
  padding-right: 70px;
  @media screen and (max-width: $screen-sm) {
    text-align: center;
    padding: 0;
  }
  a {
    font-size: 0;
  }
  i {
    cursor: pointer;
    font-size: 30px;
    @extend .ease-in;
    &:before {
      display: inline-block;
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }
  }
}

.after-header-text {
  margin-bottom: 30px;
  p {

    font-family: $main-font-medium;
    font-size: 20px;
    line-height: 32px;
  }
}
