
/********** landing page ************/
.landing-page {
  @media screen and (max-width: $screen-md) {
    .field--type-image {
      margin-top: 40px;
    }
  }
}

.node-content-wrapper {
  padding: 0 45px;
  @media screen and (max-width: $screen-md - 1) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.block-views-blocknews-block-teaser {
  .views-row {
    margin-bottom: 40px;
  }
  h3 {
    font-size: 18px;
    margin: 12px 0 10px 0;
  }
}

.news-link {
  span {
    @extend .ease-in;
  }
}

.news-date {
  label {
    font-size: 12px;
    font-family: $main-font-medium;
    margin-top: 8px;
  }
}

.all-news {
  float: right;
  text-align: right;
  margin: 50px 0;
  a {
    font-family: $main-font-semibold;
    text-transform: uppercase;
    font-size: 16px;
    &:after {
      content: '\f178';
      font-family: FontAwesome;
      font-size: 22px;
      margin-left: 15px;
      vertical-align: -1px;
      display: inline-block;
    }
    &:hover:after {
      animation: movingArrow3 1.5s infinite;
    }
  }
}

.news-header {
  & > span {
    display: none;
  }
  h2 {
    margin: 50px 0;
  }
}

.view-content {
  margin-bottom: 50px;
  float: none;
  display: inline-block;
  text-align: left;
  width: 100%;
  .searshing-list{
    float: none;
    display: block;
    margin:0 auto;
  }
  p {
    font-size: 13px;
    line-height: 1.5em;
  }
  h3 {
    font-size: 18px;
    margin-top: 6px;
    &:hover span {
      @extend .ease-in;
    }
  }
}
