@import "../import";

/*********** Navigation ****************/
.navbar-header {
  padding: 1px 0 1px 6px;
}

.region-navigation-collapsible {
  nav {
    position: static;
  }
  .block-smile-base-search, .block-smile-base-user, .block-custom-language-switcher-block {
    display: none;
  }
  @media screen and (max-width: $screen-sm - 1) {
    .block-smile-base-search, .block-smile-base-user, .block-custom-language-switcher-block {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding:0 30px;
      text-align: left;
    }
    .lang-wrapper {
      font-size: 15px;
      font-family: $main-font-bold;
      text-transform: uppercase;
      padding: 11px 0 11px 30px;
      display: inline-block;
    }
    .block-link-search-block, .block-link-login-block {
      a {
        font-size: 15px;
        padding: 10px 0;
        font-family: $main-font-bold;
        text-transform: uppercase;

        display: inline-block;
        & i {
          display: none;
        }
      }
    }
  }
}

.menu-lang {
  display: block;
  text-align: left;
  padding-left: 0;
  margin-bottom: 20px;

  & > li {
    font-family: $main-font-bold;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    border-bottom: 2px solid;
    span {
      position: relative;
      padding: 8px 0;
      display: block;
      &:after {
        display: inline-block;
        content: "\f107";
        font-family: FontAwesome;
        float: right;
        font-size: 24px;
        -webkit-transform: rotate(-85deg);
        -ms-transform: rotate(-85deg);
        -o-transform: rotate(-85deg);
        transform: rotate(-85deg);
        top: 2px;
        position: absolute;
        right: 0;
        @extend .ease-in
      }
    }
    &.lang-opened {
      span:after {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

      }
    }
  }

  ul {
    display: none;
    margin-top: 10px;
    li {
      margin-bottom: 4px;
      a {
        font-family: $main-font-bold;
        font-size: 14px;
        line-height: 1.2em;
        text-transform: uppercase;
      }
    }
  }
}

.menu-holder {
  position: static;
}

.navbar-default {

  .navbar-toggle {
    border: none;
    margin-right: 0;
    position: absolute;
    right: 10px;
    .icon-bar {
      width: 30px;
      height: 3px;
    }
  }
  .navbar-collapse {
    border: none;
    padding: 0;
  }
  border: none;

  .navbar-nav {
    font-size: 0;
    & > li {
      overflow: hidden;
      & > .dropdown-menu {
        width: 100%;
      }
    }
    @media screen and (max-width: $screen-sm - 1) {
      padding: 0 30px;
      margin: 0 0 20px 0;
    }
  }
  li.col-sm-4{
    @media screen and (min-width: $screen-sm) {
      width: 32.33333%;
      float: none;
      display: inline-block;
      vertical-align: top;
    }
  }
  span.navigation__link-description.col-xs-12 {
    padding: 0 30px;
    margin: 12px 0;
  }
  .expanded {
    a:after {
      display: inline-block;
      content: "\f107";
      font-family: FontAwesome;
      float: right;
      font-size: 18px;
      margin-left: 4px;
      -webkit-transform: rotate(-85deg);
      -ms-transform: rotate(-85deg);
      -o-transform: rotate(-85deg);
      transform: rotate(-85deg);
      @extend .ease-in;
      @media screen and (max-width: $screen-sm - 1) {
        font-size: 24px;

      }
    }
  }
  .expanded-opened {
    a:after {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);

    }
  }
  .menu-container {

    display: none;
    padding: 30px 0;
    max-width: 1440px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 999;
    @media screen and (max-width: $screen-sm - 1) {
      position: static;
      padding: 0;
    }
    span {
      @media screen and (max-width: $screen-sm - 1) {
        margin: 0 0 15px 0;
        display: block;
      }
    }
    .dropdown-menu {

      display: block;
      position: static;
      box-shadow: none;
      border: none;
      margin: 0 0 10px 0;
      li {
        margin-bottom: 8px;
      }

      .expanded {
        &.expanded-opened {

          & > a {
            @media screen and (max-width: $screen-sm - 1) {
              &:before {
                content: '-';
                font-size: 18px;
                margin-right: 6px;
              }
            }
          }
        }
        & > a {
          @media screen and (max-width: $screen-sm - 1) {
            &:hover {
              text-decoration: none;
            }
            &:before {
              content: '+';
              font-size: 18px;
              margin-right: 6px;
            }
            &:after {
              display: none;
            }
          }
        }
        ul.description{
          li{
            &:before{
              content: '';
              margin: 0;
            }
          }
        }
        ul {
          @media screen and (max-width: $screen-sm - 1) {
            display: none;
          }
          margin: 10px 0 10px 10px;
          & li{
            &:before {
              content: '>';
              display: inline-block;
              margin-right: 5px;
            }
            &:hover {
              &:before {

                animation: movingArrow3 1.5s infinite;
              }
            }
            a:hover {
              text-decoration: underline;
            }
          }
          a {
            &:hover {
              @media screen and (max-width: $screen-sm - 1) {
                text-decoration: underline;
              }
            }
            &:after {
              display: none;
            }
          }
        }
        a {
          font-family: $main-font-medium;
          font-size: 13px;
          line-height: 1.2em;
          @media screen and (max-width: $screen-sm - 1) {
            display: inline-block;
          }
        }
        & > a {
          font-family: $main-font-bold;
          font-size: 14px;
          line-height: 1.2em;
          text-transform: uppercase;
        }
        @media screen and (max-width: $screen-sm - 1) {
          padding: 0;
        }
      }
    }
  }
  .navbar-collapse {
    width: 100%;
    text-align: center;

  }
  .mobile-collapse{
    @media screen and (max-width: $screen-sm - 1) {
      display: none;
    }
  }
  .navbar-nav {
    width: 100%;
    & > li {
      float: none;
      display: inline-block;
      @media screen and (max-width: $screen-sm - 1) {
        display: block;
        text-align: left;
        &:not(:last-child) {
          border-bottom: 2px solid;
        }
      }
      position: static;

      & > a {
        position: static;
        padding: 26px 20px;
        font-family: $main-font-bold;
        font-size: 15px;
        text-transform: uppercase;
        display: inline-block;
        @media screen and (max-width: $screen-sm - 1) {
          padding: 10px 0;
        }
      }
    }
    & .open .dropdown-menu > li > a {
      padding: 3px 20px;
    }
  }
}

.menu_highlight {
  @media screen and (max-width: $screen-sm - 1) {
    display: none;
  }
  &:hover .glyphicon {
    animation: movingArrow4 1.5s infinite;
  }
  .glyphicon {
    text-align: center;
    width: 100%;
    font-size: 24px;
    display: inline-block;

  }
  img {
    width: 100%;
  }
  .field--name-body {
    padding: 30px 20px 10px 20px;
    text-align: left;
    &:after {

    }
  }
}

.hamburger .line {
  width: 36px;
  height: 4px;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 1035px) and (min-width: 768px) {
  .navbar-default {
    .navbar-nav {
      & > li {
        & > a {
          padding: 30px 4px;
        }
      }
    }
  }
}

.page-node-type-news, .page-node-type-content-page {
  .page-header {
    display: none;
  }
  h1 {
    margin: 50px 0 0 0;
    border: none;
    span {
      font-family: $main-font-light;
      font-size: 48px;
      text-transform: uppercase;
      @extend .ease-in;
      @media screen and (max-width: $screen-sm - 1) {
        font-size: 26px;
      }
    }
  }
}
