
/*********** News ************/
.header-label {
  .news-link {
    span {
      font-family: $main-font-bold;
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 20px;
      display: block;
    }
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

.header-text {
  p {
    font-size: 18px;
  }
}

.news-list {
  .views-row {
    overflow: hidden;
    width: 100%;
    display: block;
  }
  .field--name-field-teaser-text {
    p {
      font-size: 18px;
    }
  }
}

.time-wrapper {
  label, div {
    font-size: 14px;
    font-family: $main-font-medium;
  }
}

.news-list {
  margin-bottom: 150px;
}
