
/********** News letter  ***********/
.nl-custom-padding{
  padding:0 40px;
  @media screen and (max-width: $screen-sm - 1) {
    padding:0 0;
  }
}
.form-container {
  width: 100%;
  padding: 85px 46px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1440px;
  h2 {
    padding: 0;
    font-family: $main-font-regular;
    font-size: 36px;
    margin: 0;
  }
  p {
    font-family: $main-font-italic;
    font-size: 18px;
  }
  .discr {
    float: left;
    @media screen and (max-width: $screen-md - 1) {
      text-align: center;
      margin-bottom: 68px;
      display: inline-block;
      float: none;
    }
  }
  .form-wrapper {
    padding: 0;
    @media screen and (max-width: - 1) {
      text-align: center;
      float: none;
      display: inline-block
    }
  }

  form {
    width: 100%;
    text-align: center;
  }
  .form-control {
    border-radius: 50px 50px;
    max-width: 336px;
    height: 56px;
    padding: 0 0 0 20px;
    display: inline-block;
    vertical-align: top;
  }
  .sub-wrapper {
    @media screen and (max-width: 992px) {
      max-width: inherit;
    }
    #mc-embedded-subscribe {
      margin-right: 0;
    }
    @media screen and (max-width: 1370px) {
      overflow: hidden;
      width: 100%;
      display: inline-block;
      text-align: center;
      #mc-embedded-subscribe {
        float: none;
      }
    }
    @media screen and (max-width: 1370px) {
      margin-top: 20px;
    }
  }
  .large-btn {
    float: right;
    margin-right: 10px;
  }
}
