/********* Pagination ***************/
.pagination {
  li {
    float: left;
    margin: 0 10px;
    & > a {
      padding: 0;
    }
  }
  margin: 100px 0;
  li > a, li > span {
    border: none;
    font-family: $main-font-light;
    font-size: 28px;
    text-transform: uppercase;
    border-radius:0;
  }
  & li > a:hover, & li > a:focus, & li > span:hover {
    border-radius:0;
    border-bottom: 2px solid;
  }
  & > li:first-child > a, & > li:first-child > span {
    border-radius:0;
    font-family: $main-font-bold;
  }

  & > .active > a:hover, & > .active > a:focus {
    border-bottom: 2px solid;
    border-radius: 0;

  }
  & > .active > a {
    font-family: $main-font-bold;
    border-bottom: 2px solid;
    border-radius: 0;

  }
  li.pager__item--last, li.pager__item--first, li.pager__item--ellipsis {
    display: none;
  }

  .pager__item--previous {
    margin-right: 40px;
    a {
      font-size: 16px;
      padding: 5px 12px;
      font-family: $main-font-semibold;
      border-radius: 20px;
      &:before {
        content: '\f177';
        font-family: FontAwesome;
        font-size: 22px;
        margin-right: 5px;
        vertical-align: -1px;
      }
      &:hover, &:active, &:focus {
        border-radius: 20px;
        border: none;
      }
    }
  }

  .pager__item--next {
    margin-left: 40px;
    a {
      padding: 5px 37.5px;
      font-size: 16px;
      font-family: $main-font-semibold;
      border-radius: 20px;
      &:after {
        content: '\f178';
        font-family: FontAwesome;
        font-size: 22px;
        margin-left: 5px;
        vertical-align: -1px;
      }
      &:hover, &:active, &:focus {
        border-radius: 20px;
        border: none;
      }
    }
  }
}
