@import "../import";

/********** Paragraph **********/

.paragraph.tertiary-bg {

  a {
    border: 2px solid ;
  }
}

.paragraph.row {

  margin-left: 0;
  margin-right: 0;
}

.paragraph {

  padding: 50px 0;

  .col-md-12 {
    padding: 0;
    .field--name-field-media {
      padding-right:0;
    }
    .field--name-field-caption {
      p {
        text-align: center;
      }
    }
  }
  .col-md-0 {
    .field--name-field-text {
      margin-top: 20px;
      display: inline-block;
    }
  }
  .custom-inline-html {
    display: inline-block;
    width: 100%;
    @media screen and (max-width: 1444px) {
      width: 100%;
      text-align: center;
    }
    span {
      font-family: $main-font-bold;
      font-size: 24px;
      display: inline-block;
      margin-right: 10px;
      @media screen and (max-width: 1444px) {
        width: 100%;
        line-height: 1.2em;
      }
    }
    p {
      display: inline-block;
      font-size: 24px;
      margin: 0;
      line-height: 2.2em;
      @media screen and (max-width: 1444px) {
        width: 100%;
        line-height: 1.2em;
      }
    }
    a.large-btn {
      margin-top: 0;
      float: right;
      line-height: 2.2em;
      @media screen and (max-width: 1444px) {
        float: none;
        margin: 6px 0;
      }
    }
  }
  @media screen and (max-width: $screen-sm) {
    padding: 30px 0;
    margin: 30px 0;
  }
  @media screen and (max-width: $screen-xs) {
    padding: 15px 0;
    margin: 15px 0;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    li {
      font-size: 16px;
      line-height: 1.5em;
      font-family: $main-font-regular;
      margin-left: 10px;
      padding-left: 10px;
    }
  }
  h2 {
    margin-bottom: 40px;
  }
  p {
    font-size: 18px;
    line-height: 29px;
  }
  .media-image {
    img {
      margin: 0 auto;
    }
  }
  .large-btn {
    padding-left: 0;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    &:after {
      content: '\f178';
      font-family: FontAwesome;
      font-size: 22px;
      margin-left: 20px;
      vertical-align: -1px;
      @extend .ease-in
    }
  }
}

.field--item.col-md-3 {
  .paragraph {
    p {
      margin: 10px 0 20px 0;
      display: inline-block;
    }
  }
}

.paragraph--type--cards {

  h2 {
    margin-bottom: 12px;
  }
  .services-header {
    margin-bottom: 40px;
  }
  p {
    font-size: 13px;
  }

  .media-image.view-mode-default {
    min-height: 120px;
    position: relative;
  }
  .field--type-image {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
  }
  .paragraph {
    .field--item {
      text-align: center;
    }
    padding: 0;
    p {
      font-size: 16px;
    }
  }
}

.field--name-field-caption {
  p {
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    margin-top: 6px;
  }
}

.paragraph-wrapper {
  display: flex;
  @media screen and (max-width: $screen-sm - 1) {
    display: block;
    overflow: hidden;
  }
}

.doc-attachments {
  padding: 20px 15px;
  span {
    display: block;
    font-family: $main-font-semibold;
    font-size: 18px;
  }
}

.attachment-title-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: $screen-sm - 1) {
    position: static;
    transform: none;
    padding: 20px 0;
  }
}

.attachments-wrapper {
  padding: 20px 15px;
}

.file > span {
  text-align: left;
  border: none;
  &:first-child, &:last-child {
    border: none;
  }
  .icon:before {
    font-size: 25px;
  }
}

.file-icon {
  width: 20px;
}

.file-link {
  display: inherit;
  a {
    font-size: 18px;
    font-family: $main-font-semibold;
    line-height: 17px;

  }
}

span.file-size {
  text-align: left;
  display: block;
  padding: 0;
}

.media-type-kpi {
  @media screen and (max-width: $screen-md - 1) {
    padding: 0;
    margin: 20px 0;
  }
  .field--name-field-media {
    @media screen and (max-width: $screen-md - 1) {
      padding: 20px 0;
    }
    text-align: center;
    height: 100%;
    width: 100%;

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }
    .media-kpi {
      display: inline-block;
      vertical-align: middle;
      @media screen and (max-width: $screen-md - 1) {
        padding: 40px 0;
      }

    }
  }
}

.field--name-field-kpi, .node-background .field--name-field-kpi {
  text-align: center;
  p {
    font-family: $main-font-bold;

  }
  p:first-child {
    font-size: 72px;
    line-height: 70px;
  }
}

.vh-center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
