
/*************** Search *******************/
.form-container.search-form {
  padding: 40px 46px;
}

.search-action {
  display: inline-block;
  div {
    min-width: 250px;
  }
  .large-btn {
    margin: 0;
    @media screen and (max-width: 844px) {
      margin-top: 15px;
    }
  }
}

.form-text {
  display: inline-block;
  div {
    min-width: 366px;
  }
}

.search-result {
  h1 {
    margin-top: 0;
    span {
      font-size: 16px;
      @extend .ease-in;
      font-family: $main-font-bold;
    }
  }
}

.search-content {
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
    text-decoration: underline;
  }
}

.field--name-field-tag {
  margin-top: 8px;
  .field--item {
    display: inline-block;
  }
}

.node-tag {

  font-size: 10px;
  border-radius: 50px;
  padding: 3px 30px;
  display: inline-block;
  margin-top: 6px;
  font-family: $main-font-bold;
  &:first-letter {
    text-transform: capitalize;
  }
}

.views-row:not(:last-child) {
  margin-bottom: 20px;
}
