@import "../import";

/********** utilities **************/
.container, .navbar.container {
  width: 100%;
  max-width: inherit;
  padding: 0;
}

.navbar.container {
  margin: 0;
}

html {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  font-family: $main-font-regular;
  margin-top: 0;
  position: inherit;
}

.content-wrapper {
  padding: 0 96px;
  @media screen and (max-width: $screen-md) {
    padding: 0 60px;
  }
  @media screen and (max-width: $screen-sm) {
    padding: 0 40px;
  }
  @media screen and (max-width: $screen-xs) {
    padding: 0 12px;
  }
}

.page-header, h1 {
  font-family: $main-font-light;
  font-size: 48px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  border: none;
}

h2 {
  font-family: $main-font-light;
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}

h3 {
  font-family: $main-font-bold;
  font-size: 24px;
  display: inline-block;
  width: 100%;
}

h4 {
  font-family: $main-font-bold;
  font-size: 20px;
  display: inline-block;
  width: 100%;
}

ul {
  list-style-type: none;
}

p {
  font-family: $main-font-regular;
  font-size: 13px;
  line-height: 22px;
}

a:hover {
  text-decoration: none;
  @extend .ease-in;
}

.full-width-img-wrapper {
  img {
    max-width: none;
    width: 100%;
  }
}

strong {
  font-family: $main-font-bold;
}

.left-text {
  text-align: left;
}

.small-btn {
  display: inline-block;
  padding: 12px 46px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-family: $main-font-bold;
  @extend .ease-in;
  font-size: 17px;
}

.large-btn {
  text-transform: uppercase;
  padding: 11px 0 11px 20px;
  width: 100%;
  max-width: 240px;
  border-radius: 50px;
  border: none;
  font-family: $main-font-semibold;
  @extend .ease-in;
  span {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &:after {
    font-size: 22px;
    content: '\f178';
    font-family: FontAwesome;
    margin-left: 6px;
    vertical-align: -1px;
  }
}

.large-btn {
  &:hover:after {
    display: inline-block;
    animation: movingArrow 1.5s infinite;
  }
}

button.large-btn {
  &:hover:after {
    animation: movingArrow 1.5s infinite;
  }
}

.primary-btn-bg, .btn-primary.primary-btn-bg {
  box-sizing: border-box;
  border:2px solid;
}

.secondary-btn-bg {
  box-sizing: border-box;
  border:2px solid;

  &:hover, &:focus, &:active {
    border:2px solid;
    box-shadow: none;
  }
}

.secondary-btn-bg.btn-primary:focus, .secondary-btn-bg.btn-primary:active, .secondary-btn-bg.btn-primary:active:hover, .secondary-btn-bg.btn-primary.focus {
  border:2px solid;
  box-shadow: none;
}

.full-width {
  width: 100%;
}

hr {
  margin: 0 0 20px 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: $main-font-semibold;
  text-transform: uppercase;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: $main-font-semibold;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: $main-font-semibold;
  text-transform: uppercase;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: $main-font-semibold;
  text-transform: uppercase;
}

.pd60 {
  padding: 60px;
}

.btn:active, .btn.active {
  box-shadow: none;
}

@-webkit-keyframes movingArrow {
  0% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(15px,0);
    transform: translate(15px,0);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}

@keyframes movingArrow {
  0% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(15px,0);
    transform: translate(15px,0);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}

@-webkit-keyframes movingArrow2 {
  0% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(-10px,0);
    transform: translate(-10px,0);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}

@keyframes movingArrow2 {
  0% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(-10px,0);
    transform: translate(-10px,0);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}

@-webkit-keyframes movingArrow3 {
  0% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(8px,0);
    transform: translate(8px,0);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}

@keyframes movingArrow3 {
  0% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(8px,0);
    transform: translate(8px,0);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}

@-webkit-keyframes movingArrow4 {
  0% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px,0);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}

@keyframes movingArrow4 {
  0% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px,0);
  }
  30% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
  }
  100% {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0);
  }
}
.inline-wrapper {
  display: inline-block;
}

.no-pd-rl {
  padding-left: 0;
  padding-right: 0;
}

.no-mr-tb {
  margin-top: 0;
  margin-bottom: 0;
}

.custom-flex {
  display: flex;

  @media screen and (max-width: $screen-md - 1) {
    display: inherit;
  }
}

.flex-center-item {
  display: flex;
  align-content: center;
  align-items: center;
  .field {
    width: 100%;
  }
}

.ease-in{
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
