{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="form--inline form-inline clearfix">
  <div class="inputs-wrapper">
    <div class="form-text">
      {{ form.search_api_fulltext }}
    </div>
    <div class="search-action">
      {{ form.actions }}
    </div>
  </div>
  {{ form.form_token }}
  {{ form.form_build_id }}

  {{ form.form_id }}
</div>
