/********** Fonts *************/

@font-face {
  font-family: 'raleway-light';
  src: url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-light-webfont.woff2') format('woff2'),
  url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-italic';
  src: url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-italic-webfont.woff2') format('woff2'),
  url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-medium';
  src: url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
  url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-semibold';
  src: url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-semibold-webfont.woff2') format('woff2'),
  url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-extrabold';
  src: url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
  url('/profiles/custom/smile_base/themes/custom/smile_base_theme/assets/fonts/raleway-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
