/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../../../../../../../../libraries/bootstrap-sass/assets/fonts/bootstrap/';

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px !default;

//** colors
$primary-text-color: #828282 !default;
$secondary-text-color: #ffffff !default;
$tertiary-text-color: #3b80ff !default;
$quaternary-text-color: #ff8054 !default;
$newsletter-text-color: #ffffff !default;
$primary-bg: #397dfc !default;
$secondary-bg: $quaternary-text-color;
$tertiary-bg: #f1f1f1 !default;
$quaternary-bg: #ffffff !default;
$quinary-bg: #8f8f8f !default;
$senary-bg: #d2d2d2 !default;
$septenary-bg: #bebebe !default;
$octonary-bg: #eeeeee !default;
$primary-btn-bg: #3b80ff !default;
$secondary-btn-bg: $quaternary-text-color;

//** Fonts
$main-font-light: 'raleway-light';
$main-font-regular: 'raleway-regular';
$main-font-italic: 'raleway-italic';
$main-font-medium: 'raleway-medium';
$main-font-semibold: 'raleway-semibold';
$main-font-bold: 'raleway-bold';
$main-font-extrabold: 'raleway-extrabold';