{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('menu', 'col-lg-2 col-md-4 col-xs-6') }}>
      {% endif %}
      {% set item_classes = [
      item.is_expanded? 'expanded',
      item.in_active_trail ? 'active',
      'menu-level-' ~ menu_level,
      ] %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% if menu_level == 0 %}
          <span>{{ item.title }}</span>
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
      </li>
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% endif %}
      {% if menu_level == 0 %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
