.custom_preview > div {
  float: left;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.clearfix.color-palette.js-color-palette {
  margin-bottom: 40px;
  border-bottom: 2px solid;
  padding-bottom: 30px;
}
.primary-btn-bg {
  background: #3b80ff;
  border-color: #3b80ff;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 46px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-family: raleway-bold;
  font-size: 17px;
  max-width: 400px;
  margin: 10px 0;
}
.secondary-btn-bg {
  background: #ff8054;
  border-color: #ff8054;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 46px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-family: raleway-bold;
  font-size: 17px;
  max-width: 400px;
  margin: 10px 0;
}
