
<div class="custom_preview">
  <h3>Text width link</h3>
  <p>laboris nisi ut aliquip ex ea <a href="">commodo consequat. Maecenas id porttitor</a> Ut enim ad minim veniam, quis nostr udfelis.
    laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    laboris nisi ut aliquip ex ea commodo consequat. Maecenas id <a href="">porttitor Ut enim ad</a> minim veniam, quis nostr udfelis.
  </p>
  <div class="primary-bg">
    <p class="primary-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <div class="secondary-bg">
    <p class="secondary-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <div class="tertiary-bg">
    <p class="tertiary-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <div class="quaternary-bg">
    <p class="quaternary-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <div class="quinary-bg">
    <p class="newsletter-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <div class="senary-bg">
    <p class="primary-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <div class="septenary-bg">
    <p class="primary-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <div class="octonary-bg">
    <p class="primary-text-color">
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
      laboris nisi ut aliquip ex ea commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </p>
  </div>
  <a href="#" class="small-btn primary-btn-bg contact-us-btn">Primary button </a>
  <a href="#" class="small-btn secondary-btn-bg contact-us-btn">Secondary button </a>
</div>