{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  <div class="content-wrapper">
    <div class="login--wrapper">
      <div class="login-name">
        {{ element.name }}
      </div>
      <div class="login-pass">
        {{ element.pass }}
      </div>
      <div class="required-label">
        <label class="form-required">{{ 'Required '|t }}</label>
      </div>
      <div class="login-submit">
        {{ element.actions }}
      </div>
      {{ element.form_build_id }}
      {{ element.form_id }}
    </div>
  </div>
</form>
