{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<div class="content-wrapper contact-page">
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ element.form_token }}
    {{ element.form_build_id }}
    {{ element.form_id }}
    <div class="col-xs-12 no-pd-rl contact-top-message">
      <div class="col-md-10 col-xs-12 after-header-text">
        <p>{{ element.elements.message_top }}</p>
      </div>
      <div class="col-md-2 col-xs-12 ">
        <div class="contact-number primary-bg">
          <p>{{ element.elements.contact_us }}</p>
        </div>
      </div>
    </div>
    <div class="custom-flex no-pd-rl col-xs-12">
      <div class="col-md-4 col-sm-12 no-pd-rl primary-bg">
        <div class="left-contact-section content-wrapper">
          {{ element.elements.send_us_an_email }}
          {{ element.elements.message_send_email }}
        </div>
      </div>
      <div class="col-md-8 col-sm-12 no-pd-rl tertiary-bg">
        <div class="right-contact-section content-wrapper">
          {{ element.elements.first_name }}
          {{ element.elements.name }}
          {{ element.elements.email }}
          {{ element.elements.phone_number }}
          {{ element.elements.countries }}
          {{ element.elements.your_message }}
          <div class="col-xs-12 no-pd-rl captcha-holder">
            <div class="col-md-6 col-sm-12 no-pd-rl ">
              {{ element.elements.captcha }}
            </div>
            <div class="col-md-6 col-sm-12 no-pd-rl">
              {{ element.elements.actions }}
            </div>
          </div>
          <div class="required-label col-xs-12 no-pd-rl">
            {{ element.elements.required_label }}
          </div>
          <div class="contact-bottom-msg">
            <p>{{ element.elements.message_bottom }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 no-pd-rl courrier">
      {{ element.elements.contact_post }}
    </div>
    {{ title_suffix }}
  </form>
</div>
